#navbar {
    position: relative; /* Add position relative */
    z-index: 2; /* Bring navbar to front */
    top: 0; /* Stick to top */
    width: 100%; /* Make full width */
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#navbar li {
    display: inline-block;
    margin-right: 20px;
}

#navbar a {
    color: #fff;
    text-decoration: none;
}

#navbar a:hover {
    color: #ccc;
}

body {
    background-image: url('pass_crack.png'); /* Add background image */
    background-size: cover; /* Cover the entire background */
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #1A1A1A;
    border: 1px solid #333;
    border-radius: 10px;
    opacity: 70%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    color: #FF3737; /* Neon Red */
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    color: #c4c4c4; 
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

button[type="submit"] {
    background-color: #FF3737; /* Neon Red */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #FF3737; /* Neon Red */
}

footer {
    background-color: #1A1A1A;
    padding: 10px;
    text-align: center;
    color: #fff;
}